
.elemento-flex-1 {
    background-color: rgba(132, 64, 197, 0.541);
    border-radius: 7px;
  }
  
  .elemento-flex-2 {
    background-color: rgba(179, 43, 197, 0.94);
    border-radius: 7px;
  }
  
  .elemento-flex-3 {
    background-color: rgb(175, 84, 255);
    border-radius: 7px;
  }
  
  .elemento-flex-4 {
    background-color: rgb(71, 210, 187);
    border-radius: 7px;
    box-shadow: -10px 10px 12px;
    
  }

  .principal-font {
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }
  
  .secondary-font {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;
  }