
.elemento-flex-1 {
    background-color: rgb(255, 188, 117);
    border-radius:15px;
  }
  
  .elemento-flex-2 {
    background-color: rgb(251, 163, 39);
    border-radius: 15px;
  }
  
  .elemento-flex-3 {
    background-color: rgb(237, 99, 24);
    border-radius: 15px;
  }
  
  .elemento-flex-4 {
    background-color: rgb(255, 250, 108);
    border-radius: 15px;
    box-shadow: 10px 10px 12px;
    
  }
  

  .principal-font {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif}
      
      .secondary-font {
        font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif }